body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    /* height: 100%; */
}

#view {
    margin-top: 40px;
    border: double 6px rgb(150, 150, 150);
    border-radius: 240px;
}

li {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 36px;
    letter-spacing: 10px;
}

.main-menu {
    position: fixed;
    background-color: clear;
    width: 600px;
    height: 598px;
    margin-top: 102px;
    flex-direction: column;
    visibility: hidden;
}

.pause-menu {
    position: fixed;
    background-color: clear;
    width: 600px;
    height: 598px;
    margin-top: 102px;
    visibility: hidden;
    border: solid 4px white;
}

.main-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.pause-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.pause-list > li {
    background: black;
}