body {
    background-color: black;
    font-family: 'Roboto Mono', monospace;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

#view {
    margin-top: 40px;
    border: double 6px rgb(150, 150, 150);
    border-radius: 240px;
}

li {
    color: white;
    font-size: 36px;
    letter-spacing: 10px;
    text-indent: 10px;
    padding: 20px;
}

.main-menu {
    position: fixed;
    background-color: clear;
    width: 600px;
    height: 598px;
    margin-top: 102px;
    flex-direction: column;
    visibility: hidden;
}

.pause-menu {
    position: fixed;
    background-color: clear;
    width: 600px;
    height: 598px;
    margin-top: 102px;
    visibility: hidden;
    border: solid 4px white;
}

.instructions-menu {
    position: fixed;
    background-color: clear;
    width: 600px;
    height: 598px;
    margin-top: 102px;
    visibility: hidden;
    border: solid 4px white;
}

.game-over-menu {
    position: fixed;
    background-color: clear;
    width: 600px;
    height: 598px;
    margin-top: 102px;
    visibility: hidden;
    border: solid 4px white;
}

.level-up-menu {
    position: fixed;
    background-color: clear;
    width: 600px;
    height: 598px;
    margin-top: 102px;
    visibility: hidden;
    border: solid 4px white;
}

#main-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#pause-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#instructions-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#instructions-menu-list > li {
    font-size: 21px;
    color: white;
    letter-spacing: 0px;
    text-indent: 0px;
    padding: 7px;
}

#game-over-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#level-up-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.pause-list > li {
    background: black;
}

li:first-of-type {
    color: orange
}

li[data-selected="true"]{
    outline: solid 5px white;
}