html, body {
    overflow: hidden;
}

body {
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

header {
    margin-top: 10px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

header img {
    background-color: black;
    height: 64px;
    width: auto;
    margin: 0px 20px;
    opacity: 0.8;
}

img:hover {
    opacity: 1;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

#view {
    border: double 6px rgb(150, 150, 150);
    border-radius: 240px;
}

li {
    font-size: 36px;
    letter-spacing: 10px;
    text-indent: 10px;
    padding: 20px;
}

.main-menu {
    position: fixed;
    background-color: clear;
    width: 597px;
    height: 597px;
    margin-top: 97px;
    flex-direction: column;
    visibility: hidden;
}

.pause-menu {
    position: fixed;
    background-color: clear;
    width: 597px;
    height: 597px;
    margin-top: 97px;
    visibility: hidden;
    border: solid 4px white;
}

.instructions-menu {
    position: fixed;
    background-color: clear;
    width: 597px;
    height: 597px;
    margin-top: 97px;
    visibility: hidden;
    border: solid 4px white;
}

.game-over-menu {
    position: fixed;
    background-color: clear;
    width: 597px;
    height: 597px;
    margin-top: 97px;
    visibility: hidden;
    border: solid 4px white;
}

.level-up-menu {
    position: fixed;
    background-color: clear;
    width: 597px;
    height: 597px;
    margin-top: 97px;
    visibility: hidden;
    border: solid 4px white;
}

#main-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#pause-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#instructions-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#instructions-menu-list > li {
    font-size: 21px;
    color: white;
    letter-spacing: 0px;
    text-indent: 0px;
    padding: 7px;
}

#instructions-menu-list > li:first-of-type {
    color: orange
}

#game-over-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#level-up-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#level-up-menu-list > li {
    font-size: 28px;
}

.pause-list > li {
    background: black;
}

li:first-of-type {
    color: orange
}

li[data-selected="true"]{
    outline: solid 5px white;
    background: black;
}